@import "variables";
@import "mixins";
@import "reset";

@import "scaffolding";
@import "fontello";
@import "type";

@import "control_button";
@import "depressed";
@import "radio";

@import "utilities";

body {

  @include gradient-vertical($black, #262626);
  -webkit-font-smoothing: antialiased;
}

.container {
  @include center-block();
  width: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.page-heading {
  font-family: 'Yellowtail';
  font-size: 68px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 2px 2px 0 #0F185C, 0 0 5px rgba(177, 177, 177, 0.51);
  color: #EEE;
}

.vertical-buttons {
  text-align: center;
  padding: 0 20px;
  .control-button {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

